.landing-post{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
}
.abt-photo{
    height: 400px;
}
.uti-text{
    width: 40vw;
    align-items: center;
    align-self: center;
}
.Aboutpg{
    display: flex;
    flex-direction: column;
}