@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: 'Poppins', sans-serif;
    }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: unset !important;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .cropform{
  margin-top: 50px;
  padding: 30px;
}
.cropBtn{
  padding: 4px;
  border: green;
  color: aliceblue;
}
.cropform select{
  border-radius: 10px;
  margin: 5px;
  
} */
.LoginPage{
   background-image: url("./LoginPage.jpeg");
   background-position: center;
   background-size: cover;
   height: 100vh;
   margin: unset !important;
   padding: unset !important;
}
.chatContainer{
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: row !important;
}

.cropAdvisor{
  background-image: url("https://images.unsplash.com/photo-1603624837375-aa36c0a31d42?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
  /* background-image: url('./greengrad.png'); */
  background-position: center;
   background-size: cover;
   height: 100vh;
   margin: unset !important;
   padding: unset !important;
   color: white;
   overflow-y: hidden;
}


@media screen and (max-width:450px) {
  .myweather{
    padding: 5px !important;
    padding-left: unset;
    padding-right: unset;
    margin: unset !important;
    margin-bottom: 5px !important;
  }
  .mylogin{
    padding-left: unset !important;
    padding-right: unset !important;
    max-width:100vw !important;
  }
  .cropadvisor{
    padding-left: unset !important;
    padding-right: unset !important;
    max-width:100vw !important;

  }
  
}