body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cropform{
  margin-top: 50px;
  padding: 30px;
}
.cropBtn{
  padding: 4px;
  border: green;
  color: aliceblue;
}
.cropform select{
  border-radius: 10px;
  margin: 5px;
  
}