@import url('https://fonts.googleapis.com/css2?family=Inter&family=Italiana&family=Raleway&display=swap');

.cropform{
    -webkit-box-shadow: 16px 21px 47px 14px rgba(0,0,0,0.75);
-moz-box-shadow: 16px 21px 47px 14px rgba(0,0,0,0.75);
box-shadow: 16px 21px 47px 14px rgba(0,0,0,0.75);
}
.croptext{
    font-family: 'Raleway';
}