@import url('https://fonts.googleapis.com/css2?family=Inter&family=Italiana&family=Raleway&display=swap');

.cropform{
    -webkit-box-shadow: 16px 21px 47px 14px rgba(0,0,0,0.75);
-moz-box-shadow: 16px 21px 47px 14px rgba(0,0,0,0.75);
box-shadow: 16px 21px 47px 14px rgba(0,0,0,0.75);
}
.croptext{
    font-family: 'Raleway';
}
.cropAdvisor{
    /* background-image: url("https://images.unsplash.com/photo-1603624837375-aa36c0a31d42?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80"); */
    background-image: url("https://cdn.pixabay.com/photo/2018/03/19/20/20/wheat-3241114_960_720.jpg");
    /* background-image: url('./greengrad.png'); */
    background-position: center;
     background-size: cover;
     height: 100vh;
     margin: unset !important;
     padding: unset !important;
     color: white;
     /* overflow-y: hidden; */
  }

  @media (max-width: 768px) {
    .mediaPrediction{
        margin-top: 9rem;
    }
}