.cropadvisor{
    /* background: url('https://images.unsplash.com/photo-1603624837375-aa36c0a31d42?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80'); */
    scroll-behavior: smooth;
    /* max-width: 100vw; */
    /* color:black */
    min-height: 30.5rem;
}
@media (max-width: 768px) {
    .cropAdvResp{
        flex-direction: column;
    }
}
